<div class="card-container-wrapper">
  <div class="card-container">
    <img *ngIf="cardData?.links?.flickr_images[0]; else noImageAvailable" [src]="cardData?.links?.flickr_images[0]"
         class="mission-image" alt="Mission Image">
    <ng-template #noImageAvailable>
      <img src='/assets/images/Noimage.jpg' class="mission-image" alt="Mission Image">
    </ng-template>
    <span class="mission-name">{{cardData?.mission_name}} #{{cardData?.flight_number}}</span>
    <span><strong>Mission Ids:</strong></span>
    <span class="mission-id" *ngFor="let id of cardData?.mission_id">{{id}}</span>
    <span class="mission-launch-year"><strong> Year: </strong> {{cardData?.launch_year}}</span>
    <span
      class="mission-successful-launch"><strong>Successful Launch: </strong>{{cardData?.launch_success || 'NA'}}</span>
    <span class="mission-successful-landing">
      <strong>Successful Landing: </strong>{{cardData?.rocket?.first_stage?.cores[0]?.land_success || 'NA'}}
    </span>
  </div>
</div>
