//.card-container-wrapper {

.card-container {
  margin: 5px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;

  .mission-image {
    height: 150px;
    width: 100%;
    object-fit: contain;
    background: #e7e9ea;
  }

  .mission-name {
    color: blue;
  }

  span {
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
  }
}

//}
