//.card-container-wrapper {

.card-container {
  margin: 0 5px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;

  .mission {

    &-image {
      height: 150px;
      width: 100%;
      object-fit: contain;
      background: #e7e9ea;
      border: 1px solid #e7e9ea;
    }

    &-name {
      color: #3a6ebd;
      font-weight: bold;
    }

    &-id {
      font-weight: bold;
    }


  }


  span {
    font-size: 14px;
    padding-top: 10px;
  }
}

//}
